# Visual Studio 2015-2022
.vs/
*.suo
*.user
*.sln.docstates
*.vscode

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Packages
packages/
*.nupkg
.nuget/

# Rider
.idea/

# ReSharper
_ReSharper.*/
*.resharper
*.userprefs

# Test results
TestResults/

# Other
*.log
*.pdb
*.scc
*.vssscc

# Archivos de configuración local y scripts de base de datos
appsettings.Development.json
esquema.sql
